<article class="list">
  <header>
    <h1><%= t 'artists.title' %></h1>
  </header>
  <section class="row-fluid">
    <% @artists.each do |artist| %>
    <figure class="span2">
      <%= link_to image_tag(artist.foto.small.to_s), artist %>
      <h4><%= artist.name %></h4>
    </figure>
    <% end %>
  </section>
</article>
<% if is_admin %>
<%= link_to t('crud.new'), new_artist_path %>
<% end %>