<div class="artist-card well well-small clearfix">
  <div>
    <div class="span2">
      <%= image_tag @handcraft.artist.foto.thumb %>
    </div>
    <div class="span10">
      <h5><%= link_to @handcraft.artist.name, @handcraft.artist %> / <small><%= @handcraft.artist.business_name %></small></h5>
      <div class="ellipsis3"><%= raw @handcraft.artist.biography %></div>
    </div>
  </div>
</div>
