<article class="list">
  <header>
    <h1><%= t 'handcrafts.title' %></h1>
  </header>
  <section class="row-fluid">
  <% @handcrafts.each do |handcraft| %>
    <figure class="span2">
      <%= link_to image_tag(handcraft.cover_photo.filename.small.to_s), handcraft %>
      <h4><%= handcraft.name %></h4>
    </figure>
  <% end %>
  </section>
</article>
<% if is_admin %>
<%= link_to t('crud.new'), new_handcraft_path %>
<% end %>
